.productCard {
    width: 100%;
    height: 100%;
}

.product-main-div {
    background-image: url("https://i.ibb.co/1mskZ5v/snapedit-1701353315541.png");
    background-size: cover;
}

.img-div {
    height: 40vh;
    width: 85%;

}

.img {
    width: 100%;
    height: 100%;
}